<h4 class="box-title">
    نکات کلی
</h4>
<ol class="spaced-list-sm">
    <li class="testing">
        تمامی لغات و جملاتی که توسط gettext ایجاد می‌شود، حتما ترجمه آن نیز انجام شود
    </li>
    <li class="coding">
        برای نام گذاری صفحات، Model ها، Serializer ها، و View ها و ... از
        <a href="/standard/naming/django" target="_blank">این لینک</a>
        استفاده شود.
    </li>
</ol>

<h4 class="box-title">
    User
</h4>
<ol class="spaced-list-sm">
    <li class="coding">
        همیشه مدل User جنگو باز نویسی شود
    </li>
    <li class="coding">
        برای گرفتن User از get_user_model استفاده شود
    </li>
</ol>

<h4 class="box-title">
    Services
</h4>
<ol class="spaced-list-sm">
    <li class="coding">
        برای هر Entity یک سرویس جدا طراحی شود
    </li>
</ol>

<h4 class="box-title">
    Choices
</h4>
<ol class="spaced-list-sm">
    <li class="testing">
        اگر از یک Choices در Filter و یا Serializer استفاده شد حتما باید برای آن یک API هم طراحی شود تا فرانت از آن برای
        نمایش گزینه‌های ممکن به کاربر استفاده کند
    </li>
</ol>

<h4 class="box-title">
    Imports
</h4>
<ol class="spaced-list-sm">
    <li class="coding">
        اگر از فایل‌های داخل همان App بود به شکل Relative باشد و در تمامی موارد دیگر Absolute باشد
    </li>
</ol>
