<h4 class="box-title">
    نکات کلی
</h4>
<ol class="spaced-list-sm">
    <li>
        کد ما هیچ یک از بخش‌های سامانه را نباید دچار ایراد نماید و در صورتی که این اتفاق اجتناب ناپذیر است باید ایرادات
        بوجود آمده را رفع نماییم
    </li>
    <li>
        برای هر Component و Page ای که ایجاد می‌شود حتما موضوع سطح دسترسی بررسی شود (در صورتی که در تسک به آن اشاره نشده
        است پیگیر آن شویم)
    </li>
    <li>
        هر بخش از سامانه که در حال طراحی آن هستیم باید در تمامی سایزهای فریم ورک ما (مثلا bootstrap) به درستی نمایش داده
        شود
    </li>
    <li class="new">
        هر جایی از سامانه که نیاز به کانکشن HTTP شد باید اسپینر، اسکلتون و یا لودر به کاربر نمایش داده شود و کاربر تا
        زمان نیامدن پاسخ HTTP کانکشن، امکان تکرار درخواست را نداشته باشد (پیشنهاد: دکمه موقتا تا آمدن پاسخ Disable شود)
    </li>
</ol>

<h4 class="box-title">
    Page
</h4>
<ol class="spaced-list-sm">
    <li>
        داشتن تمامی استاندارد سایزهای favicon
    </li>
    <li>
        هر صفحه حتما تگ title داشته باشد و در آن ابتدا اسم سایت آمده و بعد از قرار دادن dash سپس عنوان صفحه ذکر شود
    </li>
    <li>
        هندل کردن صفحه 404
    </li>
    <li>
        در صورت سرور ساید بودن پروژه، هندل کردن صفحه 500
    </li>
    <li>
        ریدایرکت به صفحه اصلی در صورت نداشتن دسترسی به صفحه خاص و نمایش Toast به کاربر مبنی بر عدم دسترسی
    </li>
</ol>

<h4 class="box-title">
    Text
</h4>
<ol class="spaced-list-sm">
    <li>
        هیچ متنی نباید Static و یا به شکل Hard Code باشد مگر این که در تسک بیان شود که این بخش بناس Hard Code باشد
    </li>
    <li>
        تمامی متون از فونت پیش‌فرض سامانه استفاده نمایند مگر آنکه دیزاینر برای زیبایی کار برای بخشی از سامانه فونت خاص
        در نظر گیرد
    </li>
</ol>

<h4 class="box-title">
    Link
</h4>
<ol class="spaced-list-sm">
    <li class="new">
        حالت هاور داشته باشد (حتما با transition باشد)
    </li>
    <li>
        هیچ لینکی نباید Static باشد و هیچ کاری انجام ندهد
    </li>
</ol>

<h4 class="box-title">
    Input
</h4>
<ol class="spaced-list-sm">
    <li>
        تمام باکس که برای آن در نظر گرفته شده است باید قابل انتخاب و پر کردن محتوا باشد
    </li>
    <li>
        حالت اکتیو داشته باشد
    </li>
</ol>

<h4 class="box-title">
    Button
</h4>
<ol class="spaced-list-sm">
    <li class="new">
        حالت هاور داشته باشد (حتما با transition باشد)
    </li>
    <li>
        در سرتاسر سامانه از یک کامپوننت برای آن استفاده شود
    </li>
    <li>
        هیچ دکمه ای نباید Static باشد و هیچ کاری انجام ندهد
    </li>
</ol>

<h4 class="box-title">
    Form
</h4>
<ol class="spaced-list-sm">
    <li>
        ارور مناسب برای هر فیلد (متن به شکل محترمانه و استفاده از ضمیر سوم شخص)
    </li>
    <li>
        هندل کردن Field Error و Non-Field Error ای که از سمت بکند ارسال می‌شود
    </li>
    <li>
        تبدیل اعداد فارسی به انگلیسی در فیلدها
    </li>
    <li>
        ارسال فرم با زدن دکمه Enter
    </li>
    <li>
        بعد از ثبت موفقیت آمیز فرم در فرم‌های ساده Toast و در فرم‌های پیچیده SweetAlert به کاربر نمایش داده شود
    </li>
</ol>

<h4 class="box-title">
    Table
</h4>
<ol class="spaced-list-sm">
    <li>
        سطر اول که عنوان ستون هاست از باقی سطرها متمایز باشد
    </li>
    <li>
        تعداد ستون های جداول در ریسپانسیو به صورت تاگل باشد
    </li>
    <li>
        محتوای هر سطر بیشتر از دو خط نشود (حتی در حالت ریسپانسیو)
    </li>
</ol>

<h4 class="box-title">
    Header
</h4>
<ol class="spaced-list-sm">
    <li>
        لوگو در تمام حالات ریسپانسیو، حضور داشته باشد
    </li>
    <li>
        با کلیک بر روی لوگو کاربر به صفحه اصلی هدایت شود
    </li>
</ol>

<h4 class="box-title">
    Toast
</h4>
<ol class="spaced-list-sm">
    <li>
        تمامی Toast ها در سمت چپ بالای صفحه باز شوند
    </li>
</ol>
