{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    استاندارد
    {{ standard_name }}
    در
    {{ title_fa }}
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center mb-4">
            {{ title_fa }} - {{ title_en }}
            <span class="text-muted fs-5">({{ standard_name }})</span>
        </h3>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card shadow-sm">
                    <div class="card-body page-content">
                        {{ text|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        for (const [index, element] of Array.from($('.page-content li')).entries()) {
            $(element).attr('id', index);
            $(element).prepend(`<a href="#${index}" class="index-link"><span class="fa fa-link"></span></a>`);
            $(element).attr('onClick', 'FunctionName(this);');
        }
    </script>
{% endblock %}
