{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    انتخاب فریمورک
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row offset-lg-2">
            <div class="col-sm-6 col-lg-4">
                {% include 'standard/_framework_card.html' with image_address='standard/images/react.jpg' title='ری‌اکت' naming_url_name='standard:naming-react' rules_url_name='standard:rules-react' %}
            </div>
            <div class="col-sm-6 col-lg-4 offset-lg-2">
                {% include 'standard/_framework_card.html' with image_address='standard/images/django.jpg' title='جنگو' naming_url_name='standard:naming-django' rules_url_name='standard:rules-django' %}
            </div>
        </div>
    </div>
{% endblock %}