{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    {{ entity }}
{% endblock %}

{% block content %}
    <h3 class="text-center py-3">
        استاندارد برای:
        <form action="" method="get" class="d-inline-block ms-2">
            <div class="input-group">
                <input class="form-control" type="text" name="entity" value="{{ entity }}">
                <button class="btn btn-primary" type="submit">تغییر</button>
            </div>
        </form>
    </h3>

    <div class="container py-2 mt-4 mb-4">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {% include 'naming/_standard_naming_card.html' with align='left' scope='models.py' names=models %}
                {% include 'naming/_standard_naming_card.html' with align='right' scope='views.py' names=views %}
                {% include 'naming/_standard_naming_card.html' with align='left' scope='serializers.py' names=serializers %}
                {% include 'naming/_standard_naming_card.html' with align='right' scope='validators.py' names=validators %}
                {% include 'naming/_standard_naming_card.html' with align='left' scope='services.py' names=services %}
            </div>
        </div>
    </div>
{% endblock %}
