{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    استاندارد نام گذاری در ری‌اکت
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'naming/css/huge-input.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 350px">
            <form action="{{ request.GET.next }}" method="get">
                <label>
                    <input class="huge-input" type="text" name="entity" placeholder="نام Entity را وارد نمایید">
                </label>
            </form>
        </div>
    </div>
{% endblock %}
