{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    انتخاب فریمورک
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row offset-lg-2">
            <div class="col-sm-6 col-lg-4">
                {% include 'naming/_framework_card.html' with image_address='naming/images/react.jpg' title='ری‌اکت' next_url='naming:react' %}
            </div>
            <div class="col-sm-6 col-lg-4 offset-lg-2">
                {% include 'naming/_framework_card.html' with image_address='naming/images/django.jpg' title='جنگو' next_url='naming:django' %}
            </div>
        </div>
    </div>
{% endblock %}
