{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    استاندارد نام گذاری در
    {{ title_fa }}
{% endblock %}

{% block content %}
    <div class="container py-2 mt-4 mb-4">
        <h3 class="text-center">
            {{ title_fa }}
            -
            {{ title_en }}
        </h3>
        <div class="text-center pt-3 pb-5">
            <label for="entity_input">نام Entity:</label>
            <form action="" method="get" class="d-inline-block ms-2">
                <div class="input-group">
                    <input class="form-control" type="text" id="entity_input" name="entity" value="{{ entity }}"
                           required pattern="[A-Za-z]*" placeholder="انگلیسی و به هم چسبیده">
                    <button class="btn btn-primary" type="submit">تولید</button>
                </div>
            </form>
        </div>

        {% if entity %}
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    {% for rule, value in rules.items %}
                        {% if forloop.counter|divisibleby:2 %}
                            {% include 'naming/_standard_naming_card.html' with align='right' scope=rule names=value.names help_code=value.help_code %}
                        {% else %}
                            {% include 'naming/_standard_naming_card.html' with align='left' scope=rule names=value.names help_code=value.help_code %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="text-center pt-5 mt-5">
                <p>هنوز هیچ Entity ای وارد نشده است !!!</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
